<html>
    <head>
        {% if title %}
        <title>{{title}} - Добро пожаловать!</title>
        {% else %}
        <title>Добро пожаловать на мою страницу!</title>
        {% endif %}
    </head>
    <body>
        <div>Webpage:
            <a href="{{url_for('index')}}">На главную</a>
            <a href="{{url_for('login')}}">Войти</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>